<html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
        <link rel="stylesheet" href="styles.css">
    <h1> <a href="/">Home</a> &nbsp; 
        <a href="/tasknew">Add new Task</a> <br>
        <a href="/newdeveloper">Add new Developer</a> &nbsp;
        <a href="/listtask">List Tasks</a> &nbsp;
        <a href="/updatetask">Update Task</a> <br>
        <a href="/deletetask">Delete Task</a> &nbsp;
        <a href="/deletetaskC">Delete all the completed Task</a>
        <!-- <a href="/deleteOldComplete">Delete all the completed and overdue Task</a>s -->
    </h1>
    </br>
    <h3>
        <table>
            <tr>
                <td>Developer ID</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Level</td>
                <td>State</td>
                <td>Suburb</td>
                <td>Street</td>
                <td>Unit</td>
            
            </tr>
            <% for ( var i =0; i< DeveloperDb.length;i++){ %>
                <tr>
                    <td>
                        <%= DeveloperDb[i]._id %>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. name.firstName%>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. name.lastName %>
                    </td>
                    <td>
                        <%= DeveloperDb[i].level %>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. address.State %>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. address.Suburb %>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. address.Street %>
                    </td>
                    <td>
                        <%= DeveloperDb[i]. address.Unit %>
                    </td>
                
                </tr>
                <% }%>
    </h3>
</body>
</html>